:root {
font-family:sans-serif;
font-size:18px;
line-height:1.5em;
}
.container {
max-width:1000px;
margin:auto;  
}
.report-title {
  max-width:80%;
  line-height:1.5em;
  font-family:comfortaa;
  color:hsl(16, 88%, 44%);
}
.issue-detail-container {
 max-width:500px; 
 list-style:none;
 padding-left:0; 
}
.issue-detail {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.issue-detail span {
  
}
.logo {
  max-width:250px;
}
.issue-section-heading {
  color: hsl(16, 88%, 44%);
}